[lang] {
	direction: ltr;
	unicode-bidi: embed;
}

[lang='he'] {
	direction: rtl;
}

body {
	color: theme('colors.dark.700');
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

button {
	background-color: unset; /* https://unocss.dev/guide/style-reset#tailwind */
}

/* iOS */
button[type='submit'] {
	font-weight: 400;
}

:disabled {
	cursor: default;
}

summary {
	list-style: none;

	&::-webkit-details-marker {
		display: none;
	}
}

th,
td {
	padding: unset;
}

:any-link {
	text-decoration: underline;
}

:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

.sj__table :is(th, td) {
	padding-block: 0.25rem;
	padding-inline: 0.75rem;
}

.sj__table {
	th {
		text-align: start;
		font-weight: 600;
	}

	td {
		vertical-align: top;
	}
}
